@font-face {
    font-family: PF2A;
    src: url("../src/assets/fonts/Pathfinder2eActions.ttf") format("truetype");
}
@import "tailwindcss";

@layer base {
    h1 {
        font-size: var(--text-3xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }
    
    ul {
        list-style-type: disc;
        padding-left: var(--text-xl);
    }
    
    .undottedList{
        list-style-type: none;
        padding-left: 0;
    }
    
    
    /*Base HTML Table */
    table{
        border: 1px solid black;
        margin: 2px;
    }
    tr{
        border: 1px solid black;
    }
    td{
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }
    td:not(:first-child){
        text-align: left;
    }
    th{
        padding: 3px 10px 3px 10px;
        border: 1px solid black;
        text-align: center;
    }
    /*Spells Table*/
    .spellTable{
        @apply h-0 w-80 table-auto border-0;
    }

    /*bg-violet-300 px-2 py-0.5*/
    .spellLevelHeader{
        @apply px-2 py-0.5 bg-violet-400 flex items-center justify-center border-0;
    }
    
    .spellTableHeader{
        @apply px-2 py-0.5 bg-violet-300 flex items-center justify-center border-0;
    }
    
    .spellSlotsField{
        @apply bg-violet-50 rounded-md mx-3 h-5 w-5 inline-flex items-center justify-center;
    }
    
    .spellCell{
        @apply odd:bg-violet-100 not-odd:bg-gray-100 border-0;
    }
    
    .spellContent{
        @apply px-2 py-1 border-0;
    }

    .pathfinder-action{
        @apply font-[PF2A] text-[1.75rem] pr-1;
    }
    
    .input-field{
        @apply bg-gray-50 p-1 placeholder:text-gray-300 rounded-md;
    }
}
