@import "tailwindcss";

@layer base {
    h1 {
        font-size: var(--text-3xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }
    
    .pathfinder-action{
        @apply font-[Pathfinder2eActions] text-[1.75rem] pr-1;
    }
}
